

.space{
  margin-top: 60px;
}

.img{  
  width: 340px;
  height: 420px;   
}

.botones{  
  text-align: center;
  justify-content: center;
}

.title{
  text-align: center;
  justify-content: center;
  color: #1566FF;
}